extends /src/ui/layouts/root/layout.pug
append head
    - var title = "About"

append header
    include /src/ui/components/header.pug

append content
    h1 Cloudflare Pages + Pug + htmx + _hyperscript + Material Web Components

append footer
    include /src/ui/components/footer.pug