extends /src/ui/layouts/root/layout.pug

append header
    include /src/ui/components/header.pug

append content
    h1 Cloudflare Pages + Pug + htmx + _hyperscript + Material Web Components
    h2 Currently a work in progress...

append footer
    include /src/ui/components/footer.pug